<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529018533482-g1lp5ma2i9lvs67qu8897ok05pcbpj7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529018533482-g1lp5ma2i9lvs67qu8897ok05pcbpj7q</string>
	<key>API_KEY</key>
	<string>AIzaSyD4LEeC8ijuICRwVKoXr70f5VPg2ezRbt4</string>
	<key>GCM_SENDER_ID</key>
	<string>529018533482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doe</string>
	<key>PROJECT_ID</key>
	<string>doei-b018d</string>
	<key>STORAGE_BUCKET</key>
	<string>doei-b018d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529018533482:ios:9b6881f2422a48e1b23c13</string>
	<key>DATABASE_URL</key>
	<string>https://doei-b018d.firebaseio.com</string>
</dict>
</plist>